.card {
    width: 300px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
    .card-header {
      background-color: #f2f2f2;
      padding: 10px;
      border-bottom: 1px solid #dddddd;
      font-weight: bold;
    }
    
    .card-body {
      padding: 10px;
      
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
          margin-bottom: 5px;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    
    button {
      display: block;
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  